<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" 
             type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
  </configSections>

  <serviceBus>
    <inbox
			workQueueUri="msmq://./bus-server-work"
			deferredQueueUri="msmq://./bus-server-deferred"
			errorQueueUri="msmq://./bus-error" />
  </serviceBus>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>